

/* ===== BILL CARD STYLES ===== */
.bill-card__container {
    width: 100%;
    min-height: 250px;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;

    display: flex;

    background-color: white;
    box-shadow: 0 0 10px 5px rgb(151, 151, 151, 0.5)
}

.bill-card__img-container {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    border-radius: 50%;
}

.bill-card__img {
    height: 220px;
    width: 220px;
    object-fit: fill;
    border-radius: 50%;
}

.bill-card__avatar {
    width: 230px;
    margin: 0 7px;
}

.bill-card__text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 10px;
}

.bill-card__bill-type {
    font-size: 2.5em;
    border-bottom: 2px solid black;
    padding: 5px 0;
    margin: 10px 0;
}

.bill-card__title {
    font-size: 3em;
    padding: 8px 0;
    line-height: 1.3em;
}






/* 

/* ===== FOLLOW BUTTON STYLES ===== */
/* .bill-card__follow {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
}

.bill-detail__follow {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 50px;
} */

/* .following-button {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(77, 77, 77);
    padding: 12px;

    border: 5px solid rgb(77, 77, 77);
    border-radius: 20px;
} */
/* 
.follow-button {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: #1761a0;
    padding: 18px 15px;
    box-sizing: border-box;

    border: 5px solid rgb(77, 77, 77);
    border-radius: 20px;
}

.unfollow-button {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    color: #1761a0;
    padding: 13px 10px;

    border: 5px solid #1761a0;
    box-sizing: border-box;
    border-radius: 20px;
}  */













/* ===== BILL INDEX STYLES ===== */
.bill-index__container {
    width: 100%;
    position: relative;
    top: 8vh;
}

.bill-index__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: fixed;
    top: -1vh; */
    z-index: 3;
    background-color: rgb(235, 247, 255);
}

.bill-index__body {
    /* position: relative;
    top: 540px;
    height: 100% */
}

.bill-index__image {
    width: 60%;
    /* color: #1761a0; */
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0 0 15px 10px rgba(124, 124, 124, 0.5);
}











/* ===== BILL DETAIL STYLES ===== */
.bill-detail__container {
    width: 100%;
    position: relative;
    top: 8.5vh;
}

.bill-detail__avatar { 
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.bill-detail__avatar img {
    width: 40%;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgb(151, 151, 151, 0.5)
}

.bill-detail__bill-type {
    width: 75%;
    font-size: 4.5em;
    text-align: center;
    margin: 0 auto;
    line-height: 1.3em;

    display: flex;
    justify-content: center;
}

.bill-detail__title {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
    line-height: 1.3em;
    margin: 25px 0;
    font-family: 'Montserrat', sans-serif;
}

.bill-title {
    width: 75%;
    margin: 0 auto;
}

.bill-detail__subtitle {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px 0;
    
    font-size: 3.5em;
    font-family: 'Montserrat', sans-serif;
}

.bill-detail__socials {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 40px;
}

.bill-detail__socials i {
    font-size: 8em;
    color: #1761a0;
    margin: 0 50px;
}

.bill-detail__conventionals {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 40px;
}

.bill-detail__conventionals img {
    width: 130px;
    height: 130px;
    margin: 0 50px;
}

.bill-detail__stats-title__D {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5vh;
    margin: 15px 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 2.8em;
    text-transform: uppercase;
    color: white;
    background-color: #1761a0;
    color: white;
}

.bill-detail__stats-title__R {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5vh;
    margin: 15px 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 2.8em;
    text-transform: uppercase;
    color: white;
    background-color: #ec4c4c;
    color: white;
}


.bill-detail__title-group__D {
    padding: 2px;
    margin-top: 20px;
    background-color: rgb(23, 97, 160);
    color: white;
}

.bill-detail__title-group__R {
    padding: 2px;
    margin-top: 20px;
    background-color: #ec4c4c;
    color: white;
}

.bill-detail__votes-pct-chart {
    width: 75%;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 8vh;
}