.dashboard__container {
    width: 100%;
    position: relative;
    top: 8.5vh;
}

.dashboard__container h1 {
    font-size: 12em;
}

.dashboard__icon-container {
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin: 5px auto; */
}
.dashboard__icon {
    /* width: 100%; */
    margin-top: 10px;
}

.dashboard__welcome {
    width: 100%;
    display: flex;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    margin: 35px 0;
}



/* ====== FOLLOW REPS BADGE STYLES ===== */
.follow-reps-badge__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.follow-reps-badge {
    width: 60%;
    margin: 20px auto;
}

.follow-reps-badge img {
    width: 100%;
    /* margin: 20px auto; */
    box-shadow: 0 0 15px 10px rgb(151, 151, 151, 0.5);
    border-radius: 80%;
    cursor: pointer;
}

.follow-reps-badge__title {
    font-size: 4em;
    /* text-transform: uppercase; */
    /* border-bottom: 2px solid black; */
    margin-top: 35px;
    margin-bottom: 5px;
}