html {
    background-color: rgb(235, 247, 255);
}

body{
    background-color: rgb(235, 247, 255);
    font-family: 'Montserrat', sans-serif;
}

.hidden {
    display: none;
}

/* ===== MAIN STYLES ===== */
@import './reset.css';
@import './splash.css';
@import './loader.css';
@import './layout.css';
@import './dashboard.css';
@import './representatives.css';
@import './bills.css';
@import './academy.css';


/* ===== MEDIA QUERIES ===== */
@import './media-queries/layout-queries.css';
@import './media-queries/splash-queries.css';


/* ===== BUTTONS AND LOGOS ===== */
@import './buttons.css';
@import './propublica-logos.css';



/* ===== ANIMATIONS ===== */
/* SLIDERS */
/* @import './animations/slide-out-top.css'; */
@import './animations/slide-out-top-beta.css';
@import './animations/slide-in-top-linear.css';
@import './animations/slide-in-bottom.css';
@import './animations/slide-in-bottom-rebound.css';
/* @import './animations/slide-out-left.css'; */
@import './animations/slide-out-left-beta.css';
@import './animations/slide-in-left-linear.css';
@import './animations/slide-in-right.css';
@import './animations/slide-out-right.css';

/* BOUNCE */
@import './animations/bounce-in.css';

/* FADE */
@import './animations/fade-in-fast.css';
@import './animations/fade-out-fast.css';
@import './animations/fade-in-slow.css';

/* ROTATE */
@import './animations/rotate-center.css';

/* JELLO */
@import './animations/jello-horizontal.css';

/* SCALE-IN */
@import './animations/scale-in-tr.css';
@import './animations/scale-out-tr.css';
