.main-page-content {
    width: 100%;
    position: relative;
    top: 10vh
}


/* ===== HEADER MAIN STYLES ===== */
.header-main__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    z-index: 5;

    width: 100%;
    height: 8vh;
    background-color: white;
    box-shadow: 0 0 10px 5px rgb(151, 151, 151, 0.5)
}

.header-main__container img {
    height: 8vh;
    /* margin-left: 20px; */
    cursor: pointer;
    position: fixed;
    left: 20px;
}

.header-main__container i {
    font-size: 5em;
    color: rgb(71, 71, 71);
    margin-right: 40px;
    margin-top: 10px;
    padding: 15px;
    position: fixed;
    right: 15px;
    border: 2px solid rgb(71, 71, 71);
    border-radius: 15px;
    cursor: pointer;
}








/* ===== HAMBURGER MENU STYLES ===== */
.hamburger-menu {
    width: 100vw;
    height: 92vh;

    background-color: white;
    position: absolute;
    top: 8vh;
    right: 0;
    z-index: 3;
}

.hamburger-card {
    width: 100%;
    height: 140px;
    margin: 5px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3.5em;
    text-transform: uppercase;
    color: rgb(71, 71, 71);

    box-shadow: 0 0 10px 5px rgb(151, 151, 151, 0.5)
}

.hamburger-card .flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-card .flex a {
    color: black;
    text-decoration: none;
}

.hamburger-card .flex i {
    font-size: 1.5em;
    border: none;
    margin-right: 14%;
}




/* ===== FOOTER MAIN STYLES ===== */
.footer-main__container {
    width: 100%;
    height: 5vh;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;

    background-color: white;
    box-shadow: 0 0 10px 5px rgb(151, 151, 151, 0.5)
}








/* ===== SECTION BREAK/FOOTER STYLES ===== */
.section-break {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    min-height: 5vh;
    margin: 15px 0;
    padding: 10px 20px;
    /* background-color: #1761a0; */
    box-shadow: 0 0 10px 5px rgb(151, 151, 151, 0.5);

    font-family: 'Montserrat', sans-serif;
    font-size: 2.8em;
    line-height: 1.3em;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.section-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5vh;
    margin: 15px 0;
    box-shadow: 0 0 10px 5px rgb(151, 151, 151, 0.5);

    font-family: 'Montserrat', sans-serif;
    font-size: 2.8em;
    text-transform: uppercase;
    color: #1761a0;
    background-color: white;
}






/* ===== REP & BILL SEARCH SECTION BREAK ===== */
.rep-search__container,
.bill-search__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    min-height: 10vh;
    padding: 10px;
    margin: 15px 0;
    background-color: #1761a0;
    box-shadow: 0 0 10px 5px rgb(151, 151, 151, 0.5);

    font-family: 'Montserrat', sans-serif;
    font-size: 2.8em;
    line-height: 1.3em;
    text-transform: uppercase;
    color: white;
}

.rep-search__title,
.bill-search__title {
    width: 100%;
    text-align: center;
}

.rep-search__filters,
.bill-search__filters {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.rep-search__searchbar,
.bill-search__searchbar {
    width: 450px;
    height: 1.7em;
    margin: 0 20px;
    
    border-radius: 2em;
    /* padding-left: 20px; */
    text-align: center;
}

.rep-search__searchbar ::placeholder,
.bill-search__searchbar ::placeholder {
    font-family: 'Montserrat', sans-serif;
}

.bill-search__searchbar {
    width: 700px;
}

.rep-search__dropdown {
    max-width: 380px;
    height: 1.7em;
    /* text-align: center; */
    
    padding: 0 20px;
    margin: 0 20px;
    border-radius: 2em;
}






/* ===== BLANK CARD ===== */
.blank-card {
    width: 100%;
    min-height: 150px;
    margin: 20px auto;
    padding: 30px;
    box-sizing: border-box;
    font-size: 3em;
    line-height: 1.3em;

    display: flex;
    flex-direction: column;

    background-color: white;
    box-shadow: 0 0 10px 5px rgb(151, 151, 151, 0.5)
}

.blank-card__subtext {
    padding-top: 25px;
}

