



/* ===== SPLASH_MAIN STYLES ===== */
.splash-main__container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    /* background-color: rgba(23, 97, 160, 0.1); */
}

.splash-main__main-logo {
    width: 85%;
    height: 40%;
    margin: 0 auto;
}

.splash-main__main-logo img {
    width: 100%;
}

.splash-main__secondary-logo {
    width: 50%;
    height: 20%;
    margin: 1.5em auto;
}

.splash-main__secondary-logo img {
    width: 100%;
}

.propublicaLogo {
    width: 80%;
    border-radius: 1.5em;
}

.splash-main__btn-container {
    width: 75%;
    height: 10%;
    margin: 0 auto;

}

.splash-main__btn-container .splash-main__btn {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0.85em;
    color: white;
    background-color: #1761a0;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5em;
    box-shadow: 0 0 0.5em 0 #1761a0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}








/* ===== SPLASH_ABOUT && IS-REGISTERED STYLES ===== */
.splash-about__wrapper {
    /* background-color: rgba(23, 97, 160, 0.1); */
}

.splash-about__container {
    width: 100%;
    height: 100vh;
    position: fixed;
    /* background-color: rgba(236, 76, 76, 0.3); */
    /* top: 100%; */
}

.splash-about__header {
    margin-top: 10vh;
    width: 75%;
    height: 35vh;
    margin: 0 auto;
    font-size: 10em;
    text-align: left;
    color: #1761a0;
    text-shadow: 0.05em 0.05em 3px rgba(23, 97, 160, 0.2);


    display: flex;
    align-items: center;
}

.splash-about__body {
    width: 75%;
    height: 30vh;
    margin: 0 auto;
    font-size: 7em;
    text-align: left;
    line-height: 1.5em;
    color: #1761a0;
    text-shadow: 0.05em 0.05em rgba(23, 97, 160, 0.2);
    display: flex;
    align-items: center;
}

.splash-about__footer {
    margin-bottom: 10vh;
    width: 75%;
    height: 35vh;
    margin: 0 auto;
    font-size: 8em;
    text-align: left;
    line-height: 1.5em;
    color: #1761a0;
    text-shadow: 0.05em 0.05em rgba(23, 97, 160, 0.2);
    display: flex;
    align-items: center;
}

.splash-about__img-container {
    margin: 0 auto;
    width: 50%;
}

.splash-about__img-container img {
    /* margin: 0 auto; */
    width: 100%;
}







/* ===== LOGIN && SIGNUP FORM STYLES ===== */

.login-form__container,
.signup-form__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form__container img {
    width: 75%;
    margin-top: 5em;
}

.signup-form__container img {
    width: 75%;
    position: fixed;
    top: 0.2em;
}

.login-form,
.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-form {
    position: fixed;
    top: 32vh;
}

.login-form input,
.login-form button,
.signup-form input,
.signup-form button {
    box-sizing: border-box;
    width: 75%;
    font-size: 3em;
    padding: .7em;
    margin: .5em;
    border-radius: 5em;
    box-shadow: 0 0 0.2em 0 #1761a0;
}

.login-form input,
.signup-form input {
    text-align: center;
    color: #1761a0;
    border: 0.1em solid #1761a0;
}

.login-form button,
.signup-form button {
    color: white;
    background-color: #1761a0;
    text-transform: uppercase;
}

.login-form input:focus,
.signup-form input:focus {
    box-shadow: 0 0 0.5em 0 #1761a0;
}

.login-form ::placeholder,
.signup-form ::placeholder {
    color: #1761a0;
}

/* .login-form input:-webkit-autofill,
.login-form input:-webkit-autofill:hover,
.login-form select:-webkit-autofill:hover,
.login-form select:-webkit-autofill:hover {
    font-size: 3em;
    color: #1761a0;
    background-color: red;
} */


/* ===== SIGNUP FORM STYLES ===== */

/* .signup-form__container {

} */

.hidden {
    display: none;
}







/* ===== IS-REGISTERED BUTTON STYLES ===== */

.is-registered__header {
    width: 75%;
    height: 30vh;
    margin: 0 auto;
    font-size: 10em;
    color: #1761a0;
    text-shadow: 0.05em 0.05em rgba(23, 97, 160, 0.2);
    display: flex;
    align-items: center;
    position: relative;
    top: 0.8em;
}

.is-registered__body {
    width: 74%;
    height: 30vh;
    margin: 0 auto;
    font-size: 5em;
    line-height: 1.5em;
    color: #1761a0;
    text-shadow: 0.05em 0.05em rgba(23, 97, 160, 0.2);
    display: flex;
    align-items: center;
    position: relative;
    top: 0.4em;
}
